@media(min-width: 10px) and (max-width: 500px){

  .home_columnas_5c{
    display: none !important;
  }
  
  .home_columnas_4c{
    display: none !important;
  }

  .home_columnas_3c{
    display: none !important;
  }

  .home_columnas_2c{
    display: none !important;
  }

  .home_columnas_1c{
    display: flex !important;
  }

  .tajeta_actividad{
    display: none;
  }

  .tarjeta_home{
    display: none;
  }

  .texto_actividad{
      display:none;
  }

  .titulo_actividad {
    display: none;
  }

  nav{
    display: none;
  }

  section{
    width:100%;
    margin-left: 0;
  }
}

@media (min-width: 950px) and (max-width: 1000px){

  .img_logo{
    width: 160px;
    height: 160px;
  }


  .columna2,.columna3, .columna4, .columna5{
    margin-left: 270px;
  }

  .columnas {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 200px;
  }

  .home_columnas {
    display: flex;
  }
  
  .columna5 {
    margin-top: 0%;
  }
  
  .columna4 {
    margin-top: 0%;
  }
  
  .tarjetas {
    width: 455px;
    height: 100%;
  }

  .titulo_home{
    font-size: 28px !important;
  }

  .texto_home {
    font-size: 22px !important;
  }

}


@media (min-width: 500px) and (max-width: 1000px){

  .home_columnas_5c{
    display: none !important;
  }
  
  .home_columnas_4c{
    display: none !important;
  }

  .home_columnas_3c{
    display: none !important;
  }

  .home_columnas_2c{
    display: flex !important;
  }

  .home_columnas_1c{
    display: none !important;
  }

  .tajeta_actividad{
    display: none;
  }

  .tarjeta_home{
    display: none;
  }

  .texto_actividad{
      display:none;
  }

  .titulo_actividad {
    display: none;
  }

  nav{
    display: none;
  }

  section{
    width:100%;
    margin-left: 0;
  }
}


@media (min-width: 1000px) and (max-width: 1050px){

  .img_logo{
    width: 160px;
    height: 160px;
  }


  .columna2,.columna3, .columna4, .columna5{
    margin-left: 80px;
  }

  .columnas {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 200px;
  }

  .home_columnas {
    display: flex;
  }
  
  .columna5 {
    margin-top: 0%;
  }
  
  .columna4 {
    margin-top: 0%;
  }
  
  .tarjetas {
    width: 250px;
    height: 100%;
  }

  .titulo_home{
    font-size: 28px !important;
  }

  .texto_home {
    font-size: 22px !important;
  }

}

@media (min-width: 1050px) and (max-width: 1100px){

  .img_logo{
    width: 170px;
    height: 170px;
  }


  .columna2,.columna3, .columna4, .columna5{
    margin-left: 90px;
  }

  .columnas {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 200px;
  }

  .home_columnas {
    display: flex;
  }
  
  .columna5 {
    margin-top: 0%;
  }
  
  .columna4 {
    margin-top: 0%;
  }
  
  .tarjetas {
    width: 270px;
    height: 100%;
  }

  .titulo_home{
    font-size: 28px !important;
  }

  .texto_home {
    font-size: 22px !important;
  }

}

@media (min-width: 1100px) and (max-width: 1150px){

  .img_logo{
    width: 170px;
    height: 170px;
  }


  .columna2,.columna3, .columna4, .columna5{
    margin-left: 100px;
  }

  .columnas {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 200px;
  }

  .home_columnas {
    display: flex;
  }
  
  .columna5 {
    margin-top: 0%;
  }
  
  .columna4 {
    margin-top: 0%;
  }
  
  .tarjetas {
    width: 280px;
    height: 100%;
  }

  .titulo_home{
    font-size: 28px !important;
  }

  .texto_home {
    font-size: 22px !important;
  }

}

@media (min-width: 1000px) and (max-width: 1150px){
  .home_columnas_5c{
    display: none !important;
  }
  
  .home_columnas_4c{
    display: none !important;
  }

  .home_columnas_3c{
    display: flex !important;
  }

  .home_columnas_2c{
    display: none !important;
  }

  .home_columnas_1c{
    display: none !important;
  }


  .tajeta_actividad{
    display: none;
  }
  
  .titulo_actividad {
    display: none;
  }

}

@media (min-width: 1150px) and (max-width: 1190px){

  .img_logo{
    width: 180px;
    height: 180px;
  }


  .columna2,.columna3, .columna4, .columna5{
    margin-left: 34px;
  }

  .columnas {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 200px;
  }

  .home_columnas {
    display: flex;
  }
  
  .columna5 {
    margin-top: 55%;
  }
  
  .columna4 {
    margin-top: 55%;
  }
  
  .tarjetas {
    width: 220px;
    height: 100%;
  }

  .titulo_home{
    font-size: 28px !important;
  }

  .texto_home {
    font-size: 22px !important;
  }

}

@media (min-width: 0px) and (max-width: 1221px){
  .icon_setting {
    display: none;
    color: transparent !important;
  }
}

@media (min-width: 1190px) and (max-width: 1221px){

  .img_logo{
    width: 180px;
    height: 180px;
  }

  .icon_buscar {
    margin-left: -55px;
  }

  .overlap-group {
    width: 179px !important;
    height: 234px !important;
  }

  .primary-button{
    width: 126px !important;
    height: 29px !important;
    top: 172px !important;
    left: 32px !important;
  }

  .columna2,.columna3, .columna4, .columna5{
    margin-left: 40px;
  }

  .columnas {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 200px;
  }

  .home_columnas {
    display: flex;
  }
  
  .columna5 {
    margin-top: 55%;
  }
  
  .columna4 {
    margin-top: 55%;
  }
  
  .tarjetas {
    width: 225px;
    height: 100%;
  }

  .titulo_home{
    font-size: 28px !important;
  }

  .texto_home {
    font-size: 22px !important;
  }

}

@media (min-width: 1000px) and (max-width: 1220px){
  .tarjeta_home{
    width: 96%;
  }
}

@media (min-width: 0px) and (max-width: 1220px){
  .tarjeta_contenido {
    display: none;
  }
}

@media (min-width: 1220px) and (max-width: 1260px){

  .icon_buscar {
    margin-left: -40px;
  }

  .icon_setting {
    margin-left: 155px;
    font-size: 28px;
    cursor: pointer;
  }

  .overlap-group {
    width: 179px !important;
    height: 234px !important;
  }

  .primary-button{
    width: 126px !important;
    height: 29px !important;
    top: 172px !important;
    left: 32px !important;
  }

  .columna2,.columna3, .columna4, .columna5{
    margin-left: 50px;
  }

  .columnas {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 200px;
  }

  .home_columnas {
    display: flex;
  }
  
  .columna5 {
    margin-top: 55%;
  }
  
  .columna4 {
    margin-top: 55%;
  }
  
  .tarjetas {
    width: 235px;
    height: 100%;
  }
  
  .home {
    width: 100%;
  
  }

  .tarjeta_home{
    width: 62%;
  }

  .titulo_home{
    font-size: 28px !important;
  }

  .texto_home {
    font-size: 20px !important;
  }

  .icon_rocket {
    margin-left:-10%;
  }

}

@media (min-width: 0px) and (max-width: 1260px){
  .box{
    display:none;
  }
}

@media (min-width: 1260px) and (max-width: 1300px){

  

  .titulo_actividad {
    margin-left: 33%;
  }

  .icon_buscar {
    margin-left: -40px;
  }

  .icon_setting {
    margin-left: 155px;
    font-size: 28px;
    cursor: pointer;
  }

  .overlap-group {
    width: 179px !important;
    height: 234px !important;
  }

  .primary-button{
    width: 126px !important;
    height: 29px !important;
    top: 172px !important;
    left: 32px !important;
  }

  .columna2,.columna3, .columna4, .columna5{
    margin-left: 60px;
  }

  .columnas {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 200px;
  }

  .home_columnas {
    display: flex;
  }
  
  .columna5 {
    margin-top: 55%;
  }
  
  .columna4 {
    margin-top: 55%;
  }
  
  .tarjetas {
    width: 245px;
    height: 100%;
  }
  
  .home {
    width: 100%;
  
  }

  .tarjeta_home{
    width: 62%;
  }

  .titulo_home{
    font-size: 28px !important;
  }

  .texto_home {
    font-size: 20px !important;
  }

  .icon_rocket {
    margin-left:-10%;
  }

}

@media (min-width: 1150px) and (max-width: 1300px){

  .home_columnas_5c{
    display: none !important;
  }
  
  .home_columnas_4c{
    display: flex !important;
  }

  .home_columnas_3c{
    display: none !important;
  }

  .home_columnas_2c{
    display: none !important;
  }

  .home_columnas_1c{
    display: none !important;
  }
  
  .columna5 {
    margin-top: 0%;
  }
  
  .columna4 {
    margin-top: 0%;
  }

  .tajeta_actividad{
    display: none;
  }
  
  .titulo_actividad {
    display: none;
  }

}

@media (min-width: 1301px) and (max-width: 1330px){
  .titulo_actividad {
    margin-left: 33%;
  }

  .icon_buscar {
    margin-left: -40px;
  }

  .icon_setting {
    margin-left: 175px;
    font-size: 28px;
    cursor: pointer;
  }

  .overlap-group {
    width: 179px !important;
    height: 234px !important;
  }

  .primary-button{
    width: 126px !important;
    height: 29px !important;
    top: 172px !important;
    left: 32px !important;
  }

  .columna2,.columna3, .columna4, .columna5{
    margin-left: 12px;
  }

  .columnas {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 200px;
  }

  .home_columnas {
    display: flex;
  }
  
  .columna5 {
    margin-top: 60%;
  }
  
  .columna4 {
    margin-top: 60%;
  }
  
  .tarjetas {
    width: 200px;
    height: 100%;
  }
  
  .home {
    width: 100%;
  
  }

  .texto_home {
    font-size: 22px !important;
  }

  .icon_rocket {
    margin-left:-10%;
  }

  .tajeta_actividad{
    margin-left: 50%;
  }

  .nombre_actividad_usuario{
    font-size: 15px;
  }

  .pais_actividad_usuario{
    font-size:14px;
  }

  .tiempo_actividad_usuario{
    margin-left:66%;
  }

  .actividad_usuario {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 430px;
  }
}

@media (min-width: 1330px) and (max-width:1360px){

  .titulo_actividad {
    margin-left: 33%;
  }

  .icon_buscar {
    margin-left: -40px;
  }

  .icon_setting {
    margin-left: 175px;
    font-size: 28px;
    cursor: pointer;
  }

  .overlap-group {
    width: 179px !important;
    height: 234px !important;
  }

  .primary-button{
    width: 126px !important;
    height: 29px !important;
    top: 172px !important;
    left: 32px !important;
  }

  .columna2,.columna3, .columna4, .columna5{
    margin-left: 12px;
  }

  .columnas {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 200px;
  }

  .home_columnas {
    display: flex;
  }
  
  .columna5 {
    margin-top: 59%;
  }
  
  .columna4 {
    margin-top: 59%;
  }
  
  .tarjetas {
    width: 200px;
    height: 100%;
  }
  
  .home {
    width: 100%;
  
  }

  .texto_home {
    font-size: 22px !important;
  }

  .icon_rocket {
    margin-left:-5%;
  }

  .tajeta_actividad{
    margin-left: 49%;
  }

  .nombre_actividad_usuario{
    font-size: 15px;
  }

  .pais_actividad_usuario{
    font-size:14px;
  }

  .tiempo_actividad_usuario{
    margin-left:66%;
  }

  .actividad_usuario {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 430px;
  }

}

@media (min-width: 1360px) and (max-width:1400px){

  .box{
    width: 90%;
  }

  .titulo_actividad {
    margin-left: 33%;
  }

  .icon_buscar {
    margin-left: -40px;
  }

  .icon_setting {
    margin-left: 175px;
    font-size: 28px;
    cursor: pointer;
  }

  .overlap-group {
    width: 179px !important;
    height: 234px !important;
  }

  .primary-button{
    width: 126px !important;
    height: 29px !important;
    top: 172px !important;
    left: 32px !important;
  }

  .columna2,.columna3, .columna4, .columna5{
    margin-left: 25px;
  }

  .columnas {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 200px;
  }

  .home_columnas {
    display: flex;
  }
  
  .columna5 {
    margin-top: 58%;
  }
  
  .columna4 {
    margin-top: 58%;
  }
  
  .tarjetas {
    width: 200px;
    height: 100%;
  }
  
  .home {
    width: 100%;
  
  }

  .texto_home {
    font-size: 22px !important;
  }

  .icon_rocket {
    margin-left:-5%;
  }

  .tajeta_actividad{
    margin-left: 50%;
  }

  .nombre_actividad_usuario{
    font-size: 17px;
  }

  .pais_actividad_usuario{
    font-size:16px;
  }

  .tiempo_actividad_usuario{
    margin-left:73%;
  }

  .actividad_usuario {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 430px;
  }

}

@media (min-width: 1400px) and (max-width:1470px){

  .box{
    width: 90%;
  }

  .overlap-group {
    width: 129px;
    height: 264px;
  }

  .columna2,.columna3, .columna4, .columna5{
    margin-left: 34px;
  }

  .columnas {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 200px;
  }

  .home_columnas {
    display: flex;
  }
  
  .columna5 {
    margin-top: 56%;
  }
  
  .columna4 {
    margin-top: 56%;
  }
  
  .tarjetas {
    width: 210px;
    height: 100%;
  }
  
  .home {
    width: 100%;
  
  }

  .texto_home {
    font-size: 22px !important;
  }

  .tajeta_actividad{
    margin-left: 51%;
  }

  .nombre_actividad_usuario{
    font-size: 18px;
  }

  .pais_actividad_usuario{
    font-size:16px;
  }

  .tiempo_actividad_usuario{
    margin-left:75%;
  }

  .actividad_usuario {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 430px;
  }

}

@media (min-width: 1470px) and (max-width:1510px){

  .columna2,.columna3, .columna4, .columna5{
    margin-left: 42px;
  }

  .columnas {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 200px;
  }

  .home_columnas {
    display: flex;
  }
  
  .columna5 {
    margin-top: 53%;
  }
  
  .columna4 {
    margin-top: 53%;
  }
  
  .tarjetas {
    width: 220px;
    height: 100%;
  }
  
  .home {
    width: 100%;
  
  }


  .tajeta_actividad{
    margin-left: 50%;
  }

  .nombre_actividad_usuario{
    font-size: 18px;
  }

  .pais_actividad_usuario{
    font-size:16px;
  }

  .tiempo_actividad_usuario{
    margin-left:80%;
  }

  .actividad_usuario {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 430px;
  }

}

@media (min-width: 1510px) and (max-width:1555px){

  .columna2,.columna3, .columna4, .columna5{
    margin-left: 47px;
  }

  .columnas {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 200px;
  }

  .home_columnas {
    display: flex;
  }
  
  .columna5 {
    margin-top: 52%;
  }
  
  .columna4 {
    margin-top: 52%;
  }
  
  .tarjetas {
    width: 238px;
    height: 100%;
  }
  
  .home {
    width: 100%;
  
  }



  .tajeta_actividad{
    margin-left: 51%;
  }

  .nombre_actividad_usuario{
    font-size: 18px;
  }

  .pais_actividad_usuario{
    font-size:16px;
  }

  .tiempo_actividad_usuario{
    margin-left:80%;
  }

  .actividad_usuario {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 430px;
  }

}

@media (min-width: 1555px) and (max-width:1640px){

  .icon_setting {
    margin-left:225px;
  }

  .columna2,.columna3, .columna4, .columna5{
    margin-left: 58px;
  }

  .columnas {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 200px;
  }

  .home_columnas {
    display: flex;
  }
  
  .columna5 {
    margin-top: 50%;
  }
  
  .columna4 {
    margin-top: 50%;
  }
  
  .tarjetas {
    width: 245px;
    height: 100%;
  }
  
  .home {
    width: 100%;
  
  }

  .tajeta_actividad{
    margin-left: 51%;
  }

  .nombre_actividad_usuario{
    font-size: 18px;
  }

  .pais_actividad_usuario{
    font-size:16px;
  }

  .tiempo_actividad_usuario{
    margin-left:90%;
  }

  .actividad_usuario {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 430px;
  }

}

@media (min-width: 1640px) and (max-width:1700px){

  .icon_setting {
    margin-left:235px;
  }

  .icon_rocket {
    margin-left: 60px;    
  }

  .box{
    width: 90%;
  }

  .overlap-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 129px;
    height: 264px;
  }

  .columna2,.columna3, .columna4, .columna5{
    margin-left: 73px;
  }

  .columnas {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 200px;
  }

  .home_columnas {
    display: flex;
  }
  
  .columna5 {
    margin-top: 49%;
  }
  
  .columna4 {
    margin-top: 49%;
  }
  
  .tarjetas {
    width: 260px;
    height: 100%;
  }
  
  .home {
    width: 100%;
  
  }

  .tajeta_actividad{
    margin-left: 51%;
  }

  .nombre_actividad_usuario{
    font-size: 20px;
  }

  .pais_actividad_usuario{
    font-size:18px;
  }

  .tiempo_actividad_usuario{
    margin-left:96%;
  }

  .actividad_usuario {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 430px;
  }

  .opciones h4{
    font-size: 16px;
  }

}

@media (min-width: 1700px) and (max-width:1800px){

  .img_logo{
    width: 250px;
    height: 250px;
  }

  .icon_setting {
    margin-left:245px;
  }

  .icon_rocket {
    margin-left: 70px;    
  }

  .box{
    width: 90%;
  }

  .overlap-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 129px;
    height: 264px;
  }

  .columna2,.columna3, .columna4, .columna5{
    margin-left: 83px;
  }

  .columnas {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 200px;
  }

  .home_columnas {
    display: flex;
  }
  
  .columna5 {
    margin-top: 48%;
  }
  
  .columna4 {
    margin-top: 48%;
  }
  
  .tarjetas {
    width: 270px;
    height: 100%;
  }
  
  .home {
    width: 100%;
  
  }

  .tajeta_actividad{
    margin-left: 51%;
  }

  .nombre_actividad_usuario{
    font-size: 22px;
  }

  .pais_actividad_usuario{
    font-size:20px;
  }

  .tiempo_actividad_usuario{
    margin-left:96%;
  }

  .actividad_usuario {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 430px;
  }

  .opciones h4{
    font-size: 18px;
  }

}

@media (min-width: 1800px) and (max-width:1900px){

  .img_logo{
    width: 270px;
    height: 270px;
  }

  .icon_setting {
    margin-left:280px;
  }

  h4{
    font-size: 15px;
  }

  .icon_rocket {
    margin-left: 80px;    
  }

  .box{
    width: 90%;
  }

  .overlap-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 129px;
    height: 264px;
  }

  .columna2,.columna3, .columna4, .columna5{
    margin-left: 103px;
  }

  .columnas {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 200px;
  }

  .home_columnas {
    display: flex;
  }
  
  .columna5 {
    margin-top: 48%;
  }
  
  .columna4 {
    margin-top: 48%;
  }
  
  .tarjetas {
    width: 290px;
    height: 100%;
  }
  
  .home {
    width: 100%;
  
  }

  .tajeta_actividad{
    margin-left: 51%;
  }

  .nombre_actividad_usuario{
    font-size: 24px;
  }

  .pais_actividad_usuario{
    font-size:22px;
  }

  .tiempo_actividad_usuario{
    margin-left:110%;
  }

  .actividad_usuario {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 430px;
  }

  .opciones h4{
    font-size: 18px;
  }

  .texto_contenido, .texto_detalles {
    font-size: 25px;
  }

  .contenido_interacciones{
    margin-left:20px;
  }

}


@media (min-width: 1900px) and (max-width:2000px){

  .img_logo{
    width: 290px;
    height: 290px;
  }

  .icon_setting {
    margin-left:300px;
  }

  h4{
    font-size: 15px;
  }

  .icon_rocket {
    margin-left: 120px;    
  }

  .box{
    width: 90%;
  }

  .overlap-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 129px;
    height: 264px;
  }

  .columna2,.columna3, .columna4, .columna5{
    margin-left: 118px;
  }

  .columnas {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 200px;
  }

  .home_columnas {
    display: flex;
  }
  
  .columna5 {
    margin-top: 47%;
  }
  
  .columna4 {
    margin-top: 47%;
  }
  
  .tarjetas {
    width: 305px;
    height: 100%;
  }
  
  .home {
    width: 100%;
  
  }

  .tajeta_actividad{
    margin-left: 51%;
  }

  .nombre_actividad_usuario{
    font-size: 24px;
  }

  .pais_actividad_usuario{
    font-size:22px;
  }

  .tiempo_actividad_usuario{
    margin-left:110%;
  }

  .actividad_usuario {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 430px;
  }

  .opciones h4{
    font-size: 19px;
  }

  .texto_contenido, .texto_detalles {
    font-size: 25px;
  }

  .contenido_interacciones{
    margin-left:20px;
  }
}

@media (min-width: 2000px) and (max-width:2100px){

  .titulo_actividad {
    margin-left: 44%;
  }

  .titulo_home{
    font-size: 36px !important;
  }

  .texto_home {
    font-size: 30px !important;
  }

  .img_logo{
    width: 310px;
    height: 310px;
  }

  .icon_setting {
    margin-left:330px;
  }

  h4{
    font-size: 17px;
  }

  .icon_rocket {
    margin-left: 110px;    
  }

  .box{
    width: 90%;
  }

  .overlap-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 259px ;
    height: 334px ;
  }

  .columna2,.columna3, .columna4, .columna5{
    margin-left: 138px;
  }

  .columnas {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 200px;
  }

  .home_columnas {
    display: flex;
  }
  
  .columna5 {
    margin-top: 45.5%;
  }
  
  .columna4 {
    margin-top: 45.5%;
  }
  
  .tarjetas {
    width: 325px;
    height: 100%;
  }
  
  .home {
    width: 100%;
  
  }

  .tajeta_actividad{
    margin-left: 51%;
  }

  .nombre_actividad_usuario{
    font-size: 26px;
  }

  .pais_actividad_usuario{
    font-size:24px;
  }

  .tiempo_actividad_usuario{
    margin-left:120%;
  }

  .actividad_usuario {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 430px;
  }

  .opciones h4{
    font-size: 21px;
  }

  .texto_contenido, .texto_detalles {
    font-size: 25px;
  }

  .contenido_interacciones{
    margin-left:20px;
  }
  h3 {
    font-size: 24px;
  }
}

@media (min-width: 2100px) and (max-width:2200px){

  .titulo_actividad {
    margin-left: 45%;
  }

  .titulo_home{
    font-size: 36px !important;
  }

  .texto_home {
    font-size: 30px !important;
  }

  .img_logo{
    width: 310px;
    height: 310px;
  }

  .icon_setting {
    margin-left:340px;
  }

  h4{
    font-size: 17px;
  }

  .icon_rocket {
    margin-left: 110px;    
  }

  .box{
    width: 90%;
  }

  .overlap-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 259px ;
    height: 334px ;
  }

  .columna2,.columna3, .columna4, .columna5{
    margin-left: 128px;
  }

  .columnas {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 225px;
  }

  .home_columnas {
    display: flex;
  }
  
  .columna5 {
    margin-top: 43.5%;
  }
  
  .columna4 {
    margin-top: 43.5%;
  }
  
  .tarjetas {
    width: 325px;
    height: 100%;
  }
  
  .home {
    width: 100%;
  
  }

  .tajeta_actividad{
    margin-left: 51%;
  }

  .nombre_actividad_usuario{
    font-size: 26px;
  }

  .pais_actividad_usuario{
    font-size:24px;
  }

  .tiempo_actividad_usuario{
    margin-left:119%;
  }

  .actividad_usuario {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 430px;
  }

  .opciones h4{
    font-size: 23px;
  }

  .texto_contenido, .texto_detalles {
    font-size: 25px;
  }

  .contenido_interacciones{
    margin-left:20px;
  }

  h3 {
    font-size: 25px;
  }
}

@media (min-width: 2200px) and (max-width:2300px){

  .titulo_actividad {
    margin-left: 45%;
  }

  .titulo_home{
    font-size: 40px !important;
  }

  .texto_home {
    font-size: 36px !important;
  }

  .img_logo{
    width: 310px;
    height: 310px;
  }

  .icon_setting {
    margin-left:340px;
  }

  h4{
    font-size: 22px;
  }

  h3 {
    font-size: 26px;
  }

  .icon_rocket {
    margin-left: 140px;    
  }

  .box{
    width: 90%;
  }

  .overlap-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 259px ;
    height: 334px ;
  }

  .columna2,.columna3, .columna4, .columna5{
    margin-left: 148px;
  }

  .columnas {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 225px;
  }

  .home_columnas {
    display: flex;
  }
  
  .columna5 {
    margin-top: 42.5%;
  }
  
  .columna4 {
    margin-top: 42.5%;
  }
  
  .tarjetas {
    width: 345px;
    height: 100%;
  }
  
  .home {
    width: 100%;
  
  }

  .tajeta_actividad{
    margin-left: 51%;
  }

  .nombre_actividad_usuario{
    font-size: 26px;
  }

  .pais_actividad_usuario{
    font-size:24px;
  }

  .tiempo_actividad_usuario{
    margin-left:131%;
  }

  .actividad_usuario {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 430px;
  }

  .opciones h4{
    font-size: 24px;
  }

  .texto_contenido{
    font-size: 34px;
  }

  .contenido_interacciones{
    margin-left:20px;
  }
}

@media (min-width: 2300px) and (max-width:2400px){

  .titulo_actividad {
    margin-left: 45%;
  }

  .titulo_home{
    font-size: 40px !important;
  }

  .texto_home {
    font-size: 36px !important;
  }

  .img_logo{
    width: 330px;
    height: 330px;
  }

  .icon_setting {
    margin-left:370px;
  }

  h4{
    font-size: 22px;
  }

  h3 {
    font-size: 26px;
  }

  .icon_rocket {
    margin-left: 140px;    
  }

  .box{
    width: 90%;
  }

  .overlap-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 259px ;
    height: 334px ;
  }

  .columna2,.columna3, .columna4, .columna5{
    margin-left: 163px;
  }

  .columnas {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 225px;
  }

  .home_columnas {
    display: flex;
  }
  
  .columna5 {
    margin-top: 40.5%;
  }
  
  .columna4 {
    margin-top: 40.5%;
  }
  
  .tarjetas {
    width: 360px;
    height: 100%;
  }
  
  .home {
    width: 100%;
  
  }

  .tajeta_actividad{
    margin-left: 50%;
  }

  .nombre_actividad_usuario{
    font-size: 26px;
  }

  .pais_actividad_usuario{
    font-size:24px;
  }

  .tiempo_actividad_usuario{
    margin-left:131%;
  }

  .actividad_usuario {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 430px;
  }

  .opciones h4{
    font-size: 24px;
  }

  .texto_contenido{
    font-size: 34px;
  }

  .contenido_interacciones{
    margin-left:20px;
  }
}

@media (min-width: 2400px) and (max-width:2500px){

  .titulo_actividad {
    margin-left: 45%;
  }

  .titulo_home{
    font-size: 40px !important;
  }

  .texto_home {
    font-size: 36px !important;
  }

  .img_logo{
    width: 340px;
    height: 340px;
  }

  .icon_setting {
    margin-left:410px;
  }

  h4{
    font-size: 22px;
  }

  h3 {
    font-size: 28px;
  }

  .icon_rocket {
    margin-left: 140px;    
  }

  .box{
    width: 90%;
  }

  .overlap-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 259px ;
    height: 334px ;
  }

  .columna2,.columna3, .columna4, .columna5{
    margin-left: 183px;
  }

  .columnas {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 225px;
  }

  .home_columnas {
    display: flex;
  }
  
  .columna5 {
    margin-top: 38.5%;
  }
  
  .columna4 {
    margin-top: 38.5%;
  }
  
  .tarjetas {
    width: 380px;
    height: 100%;
  }
  
  .home {
    width: 100%;
  
  }

  .tajeta_actividad{
    margin-left: 51%;
  }

  .nombre_actividad_usuario{
    font-size: 26px;
  }

  .pais_actividad_usuario{
    font-size:26px;
  }

  .tiempo_actividad_usuario{
    margin-left:135%;
  }

  .actividad_usuario {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 430px;
  }

  .opciones h4{
    font-size: 26px;
  }

  .texto_contenido{
    font-size: 34px;
  }

  .contenido_interacciones{
    margin-left:20px;
  }
}

@media (min-width: 2500px) and (max-width:2600px){

  .titulo_actividad {
    margin-left: 45%;
  }

  .titulo_home{
    font-size: 40px !important;
  }

  .texto_home {
    font-size: 36px !important;
  }

  .img_logo{
    width: 360px;
    height: 360px;
  }

  .icon_setting {
    margin-left:435px;
  }

  h4{
    font-size: 25px;
  }

  h3 {
    font-size: 30px;
  }

  .icon_rocket {
    margin-left: 200px;    
  }

  .box{
    width: 90%;
  }

  .overlap-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 259px ;
    height: 334px ;
  }

  .columna2,.columna3, .columna4, .columna5{
    margin-left: 198px;
  }

  .columnas {
    margin-top: 1%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 225px;
  }

  .home_columnas {
    display: flex;
  }
  
  .columna5 {
    margin-top: 38.5%;
  }
  
  .columna4 {
    margin-top: 38.5%;
  }
  
  .tarjetas {
    width: 395px;
    height: 100%;
  }
  
  .home {
    width: 100%;
  
  }

  .tajeta_actividad{
    margin-left: 50%;
  }

  .nombre_actividad_usuario{
    font-size: 26px;
  }

  .pais_actividad_usuario{
    font-size:26px;
  }

  .tiempo_actividad_usuario{
    margin-left:145%;
  }

  .actividad_usuario {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 430px;
  }

  .opciones h4{
    font-size: 26px;
  }

  .texto_contenido{
    font-size: 34px;
  }

  .contenido_interacciones{
    margin-left:20px;
  }
}